.THIS.myStyle
{
    text-align:Center;
    color:Blue;
    border: 5Px Red Solid;
    Width:20%       
    
}
.THIS.myColor
{
    color:Green;
    font-size:40px;
}

/*<!-- .myStyle is a selector which can be refered by using <div>tag inside component-->
*/